
@import url('https://fonts.googleapis.com/css2?family=Charm:wght@700&display=swap');

body {
    background-color: #CAF0F8;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
}

h2 {
    padding: 0;
}

header {
    background-color: rgba(9, 180, 237, 0.5);
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

.book, .join {
    background-color: #CAF0F8;
    color: #0077B6;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: #00B4D8;
    color: #000000;
}

nav a {
    text-align: center;
    color: #0077B6;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: rgb(0, 119, 182, .3);
    color: #FFFFFF;
   
}

.msg {
    background-color: #90E0EF;
    line-height: 1.5em;
    padding: 35px;
}

footer {
    background-color: #90E0EF;
    color: #000000;
    padding: 25px 50px;
    margin-top: 200px;
}

footer a {
    color: #0077B6;
    text-decoration: none;
}

footer a:hover {
    color: #000000;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.msg h2 {
    color: #0077B6;
    font-family: Charm, Helvetica, sans-serif;
} 

.msg p {
    color: black;
    font-size: .8em;
    padding-bottom: 15px;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

.home-title {
    color: #0077B6;
    font-family: Charm, Helvetica, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

h4 {
    color: black;
}

#background {
    height: 725px;
    background-color: #00B4D8;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

.logo {
    width: 80px;
}

#logo-link {
    padding-top: 5px;
}

.card-img {
    border: 10px solid #00B4D8;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

main section img {
    box-sizing: border-box;
}